In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler
from keras.models import Sequential
from keras.layers import Dense, Dropout

In [8]:
# Load dataset
df = pd.read_csv("hourly_wages.csv")

In [9]:
# Check for missing values
print(df.isnull().sum())

,wage_per_hour,union,education_yrs,experience_yrs,age,female,marr,south,manufacturing,construction
0,5.10,0,8,21,35,1,1,0,1,0
1,4.95,0,9,42,57,1,1,0,1,0
2,6.67,0,12,1,19,0,0,0,1,0
3,4.00,0,12,4,22,0,0,0,0,0
4,7.50,0,12,17,35,0,1,0,0,0

In [27]:
X = df.drop("wage_per_hour",axis=1)
y=df["wage_per_hour"]
df.shape

(534, 10)

In [18]:
print(X)
print(y)

     union  education_yrs  experience_yrs  age  female  marr  south  \
0        0              8              21   35       1     1      0
1        0              9              42   57       1     1      0
2        0             12               1   19       0     0      0
3        0             12               4   22       0     0      0
4        0             12              17   35       0     1      0
..     ...            ...             ...  ...     ...   ...    ...
529      0             18               5   29       0     0      0
530      0             12              33   51       1     1      0
531      1             17              25   48       1     1      0
532      1             12              13   31       0     1      1
533      0             16              33   55       0     1      0

     manufacturing  construction
0                1             0
1                1             0
2                1             0
3                0             0
4                0             0
..             ...           ...
529              0             0
530              0             0
531              0             0
532              0             0
533              1             0

[534 rows x 9 columns]
0       5.10
1       4.95
2       6.67
3       4.00
4       7.50
       ...
529    11.36
530     6.10
531    23.25
532    19.88
533    15.38
Name: wage_per_hour, Length: 534, dtype: float64

In [29]:
n_cols=X.shape[1]
n_cols

9

In [30]:


scaler = MinMaxScaler()
X_scaled = scaler.fit_transform(X)

# Define the model
model = Sequential([
    Dense(128, activation="relu", input_shape=(X.shape[1],)),
    Dropout(0.2),  # Prevent overfitting
    Dense(64, activation="relu"),
    Dense(32, activation="relu"),
    Dense(1)  # Output layer for regression
])

C:\Users\Irtaza Ali\anaconda3\Lib\site-packages\keras\src\layers\core\dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [31]:
# Compile the model
model.compile(optimizer="adam", loss="mean_squared_error")

In [37]:
# Train the model
model.fit(X_scaled, y, epochs=50, batch_size=16, verbose=1)

17/17 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 19.4141