In [9]:
import pandas as pd

In [10]:
df=pd.read_csv("titanic_all_numeric.csv")

In [11]:
df.head()

,survived,pclass,age,sibsp,parch,fare,male,age_was_missing,embarked_from_cherbourg,embarked_from_queenstown,embarked_from_southampton
0,0,3,22.0,1,0,7.2500,1,False,0,0,1
1,1,1,38.0,1,0,71.2833,0,False,1,0,0
2,1,3,26.0,0,0,7.9250,0,False,0,0,1
3,1,1,35.0,1,0,53.1000,0,False,0,0,1
4,0,3,35.0,0,0,8.0500,1,False,0,0,1

In [17]:
X = df.drop("survived",axis=1)
y=df["survived"]
df.shape
print(y)

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: survived, Length: 891, dtype: int64

In [13]:
n_cols=X.shape[1]
n_cols

10

In [21]:
from keras.layers import Dense
from keras.models import Sequential

model=Sequential()
model.add(Dense(128,activation="relu",input_shape=(n_cols,)))
model.add(Dense(64,activation="relu"))
model.add(Dense(32,activation="relu"))
model.add(Dense(16,activation="relu"))
model.add(Dense(8,activation="relu"))
model.add(Dense(2,activation="softmax"))

C:\Users\Irtaza Ali\anaconda3\Lib\site-packages\keras\src\layers\core\dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [34]:
from keras.utils import to_categorical 
output_matrix = to_categorical(y)

In [35]:
model.compile(optimizer="adam",loss="categorical_crossentropy")

In [37]:
model.fit(X,output_matrix)

28/28 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - loss: 0.6153